<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="/css/demo.css"/>
</head>
<body>

<div class="container">
	<div class="header">
		<h3 class="muted">Silex Mongo Skeleton</h3>
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<ul class="nav">
						<li class="active"><a href="/">Link 1</a></li>
						<li><a href="/">Link 2</a></li>
						<li><a href="/">Link 3</a></li>
						<li><a href="/">Link 4</a></li>
						<li><a href="/">Link 5</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% include page.file %}

</body>
</html>