<div class="container">
	<div class="intro-message">
		<h1>This is the Default View</h1>

		<br/>
		<p>Replace this with your own view inside <code>/app/View/Page/Index.twig</code>.

		<p>You can also view an example of JSON data at <a href="/example-json">/example-json</a></p>

		<p>A custom 404 page can be found at <a href="/404">/404</a></p>

	</div>
</div>